@import "tailwindcss";

:root {
    --font-dosis: "Dosis", sans-serif;
    --font-montserrat: "Montserrat", sans-serif;
    --color-bg: #2C3844;
    --color-accent-pink: #FF9FC4;
    --color-accent-orange: #FF9770;
    --color-accent-yellow: #FFD670;
    --color-accent-blue: #268AF9;
    --color-accent-light-blue: #B1E0FF;
}

/* Prevent horizontal scroll on mobile */
html,
body {
    overflow-x: hidden;
    max-width: 100vw;
}

/* Ensure all content respects viewport width */
* {
        box-sizing: border-box;
}

/* Hide scrollbar but keep scroll enabled */
html, body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}